.big-hero .bg-img {
    background-image: url(../../media/services/big-hero.jpg);
}


/* home fqa */

.fqa {
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.fqa .sec-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    /*  */
    display: none;
    /*  */
}

.fqa .content {
    display: flex;
    align-items: flex-start;
    height: calc(100% - 40px);
    gap: 20px;
    padding: 20px 0 0;
}

.fqa .content .img {
    height: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../media/services/fqa.jpg);
    opacity: 0.95;
}

@media (max-width: 1024px) {
    .fqa .content {
        height: fit-content;
    }

    .fqa .content .img {
        display: none;
    }
}

@media (max-width: 670px) {}

.fqa .content .questions {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.fqa .content .questions .q {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fqa .content .questions .q.open {
    flex-grow: 1;
}

.fqa .content .questions .q button {
    width: 100%;
    position: relative;
    padding: 10px 20px 10px 40px;
    background: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--text-secondary);
}

.fqa .content .questions .q button p {
    width: fit-content;
    text-align: start;
    font-size: 25px;
}

.fqa .content .questions .q button i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    background: var(--bg-card);
    padding: 5px;
}

@media (max-width: 470px) {
    .fqa .content .questions .q button i {
        display: none;
    }
}

html[dir='ltr'] .fqa .content .questions .q button i {
    left: auto;
    right: 10px;
}

.fqa .content .questions .q .ans {
    background: var(--text-secondary);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.fqa .content .questions .q.open .ans {
    height: 200px;
    flex-grow: 1;
}

.fqa .content .questions .q .ans p {
    padding: 10px;
    color: var(--bg-card);
}

/* call us */

.call-us {
    padding: 20px;
    width: 100%;
    background: var(--bg-card);
}

.call-us .container {
    display: grid;
    grid-template-columns: 30% 70%;
    background: var(--gold-soft);
    padding: 0;
}

.call-us .img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../media/services/callus.jpg);
    height: 200px;
    position: relative;
}

@media (max-width: 550px) {
    .call-us .container {
        grid-template-columns: 1fr;
    }

    .call-us .img {
        display: none;
    }
}

.call-us .img .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 25px);
    height: 50px;
    width: 50px;
    background: var(--blue-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-soft);
    font-size: 20px;
    border-radius: 50%;
}

html[dir='rtl'] .call-us .img .icon {
    left: auto;
    right: calc(100% - 25px);
}

.call-us .content {
    padding: 15px 5px 15px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    color: var(--blue-primary);
}

html[dir='rtl'] .call-us .content {
    padding: 15px 40px 15px 5px;
}

.call-us .content a {
    direction: ltr;
    font-size: 35px;
    font-weight: 500;
    color: var(--blue-primary);
}

.call-us .content a:hover {
    text-decoration: none;
}

.call-us .content h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}

.call-us .content p {
    font-weight: 300;
    font-size: 20px;
}

@media (max-width: 500px) {
    .call-us .content {
        padding: 20px !important;
    }

    .call-us .content a {
        font-size: 30px;
    }

    .call-us .content h2 {
        font-size: 20px;
    }

    .call-us .content p {
        font-size: 15px;
    }
}

/* process */

.process {
    padding: 20px;
    width: 100%;
}

.process .container>h2 {
    text-align: center;
    color: var(--text-secondary);
    font-size: 30px;
    text-transform: capitalize;
    padding: 15px;
}

.process .process-steps {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.process .process-steps .step {
    min-width: 300px;
    max-width: 350px;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.process .process-steps .step:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 1px var(--gold-soft);
}

.process .process-steps .step .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    background: var(--bg-secondary);
    border-radius: 25px;
    color: var(--gold-soft);
    font-size: 40px;
}

.process .process-steps .step .icon .box-num {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--blue-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.process .process-steps .step .icon .box-num span {
    font-size: 20px;
}

.process .process-steps .step h3 {
    color: var(--text-main);
    font-size: 30px;
    text-transform: capitalize;
}

.process .process-steps .step p {
    text-align: center;
    color: var(--text-main);
    font-weight: 300;
    font-size: 20px;
}

/* our services */

.our-services {
    padding: 20px;
    width: 100%;
    background: var(--bg-secondary);
}

.our-services .container>h2 {
    text-align: center;
    color: var(--text-secondary);
    font-size: 30px;
    text-transform: capitalize;
    padding: 15px;
}

.our-services .the-services {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.our-services .the-services .service {
    min-width: 300px;
    max-width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    background: #7a8ba390;
    transition: 0.5s;
}

.our-services .the-services .service:hover {
    transform: translateY(-5px);
}

.our-services .the-services .service .img {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.our-services .the-services .service .img img {
    width: 100%;
}

@keyframes zoom-img {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}

.our-services .the-services .service:hover .img img {
    animation: zoom-img 5s infinite ease-out alternate;
}

.our-services .the-services .service .icon {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    background: var(--blue-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-soft);
    font-size: 25px;
    border-radius: 20px;
}

.our-services .the-services .service .content {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.our-services .the-services .service .content>* {
    padding: 0 10px;
    margin-bottom: 10px;
}

.our-services .the-services .service .content h3 {
    color: var(--gold-soft);
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 30px;
    padding-top: 10px;
}

.our-services .the-services .service .content p {
    color: var(--text-main);
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    flex-grow: 1;
}


.our-services .the-services .service .content h4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background: var(--gold-soft);
}

.our-services .the-services .service .content h4 a {
    color: var(--blue-primary);
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
}

.our-services .the-services .service .content h4 a:hover {
    text-decoration: none;
}

/* services contact us */

.services-contact-us {
    padding: 20px;
    width: 100%;
}

.services-contact-us .container>h2 {
    color: var(--gold-soft);
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.services-contact-us .container>h3 {
    color: var(--text-secondary);
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 5px;
}

.services-contact-us .contact-types {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.services-contact-us .contact-types>div {
    min-width: 300px;
    max-width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 15px;
    background: #7a8ba399;
    border-radius: 20px;
}

.services-contact-us .contact-types>div h4 {
    font-size: 25px;
    color: var(--gold-soft);
    text-transform: capitalize;
}

.services-contact-us .contact-types>div p {
    font-size: 20px;
    font-weight: 300;
    color: var(--text-main);
}

.services-contact-us .contact-types>div p:first-of-type {
    flex-grow: 1;
}

.services-contact-us .contact-types>div p:last-of-type {
    direction: ltr;
}

.services-contact-us .contact-types>div a {
    margin: 0 auto;
    text-decoration: none;
    padding: 5px 10px;
    background: var(--blue-primary);
    color: var(--gold-soft);
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

.services-contact-us .contact-types>div a:hover {
    filter: contrast(125%);
}

footer {
    background: var(--bg-card);
}

footer .rights {
    background: var(--bg-main);
}