.contact-types {
    padding: 20px;
    width: 100%;
}

.contact-types .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.contact-types .container>div {
    background: var(--blue-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-radius: 15px;
}

.contact-types .container>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-types .container>div i {
    padding: 15px;
    color: var(--text-main);
    font-size: 20px;
}

.contact-types .container>div h3 {
    text-align: center;
    padding: 15px;
    font-size: 25px;
    color: var(--gold-soft);
}

.contact-types .container>div :is(a, p) {
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-main);
}

.contact-types .container>div a {
    direction: ltr;
}

.contact-types .container>div a:hover {
    text-decoration: none;
}